[Unit]
Description=Unified IoT Positioning service
After=network.target mosquitto.service

[Service]
ExecStart=/usr/bin/positioning
Restart=on-failure
KillMode=process
User=uic
Group=uic

[Install]
WantedBy=multi-user.target