.nav-menu {
    justify-content: center;
    height: calc(100vh - 139px);
    background: #f7f7f7;
    border-right: 1px solid #ececec;
    transition: height 0.3s;
}

.nav-menu-icon {
    width: 18px;
}

.nav-menu-items {
    width: 100%;
    padding: 0;
}

.nav-text {
    padding: 0;
    height: 45px;
    white-space: nowrap;
    border-bottom: 1px solid #ececec;
    transition: width 0.3s;
    overflow: hidden;
}

.side-bar-collapsed .nav-text {
    width: 50px;
    transition: width 0.3s;
}

.nav-text.active a {
    font-weight: 600;
    color: #303030;
}

.nav-text a {
    text-decoration: none;
    font-size: 18px;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    color: #777777
}

.nav-text a:hover {
    background-color: #e4e4e4;
    text-decoration: none;
    color: #303030;
}

.nav-text span {
    margin-left: 5px;
}

.header.collapsed+.split-container>.split1>.nav-menu {
    height: calc(100vh - 59px);
    transition: 0.3s;
}