[Unit]
Description=Unified IoT AoX Protcol Controller
After=network.target mosquitto.service

[Service]
ExecStart=/usr/bin/aoxpc
Restart=on-failure
KillMode=process
User=uic
Group=uic

[Install]
WantedBy=multi-user.target