[Unit]
Description=CPC HCI Bridge service
After=uic-cpcd.service

[Service]
# Create the pts_hci file in /var/lib/uic/dev
WorkingDirectory=/var/lib/uic/dev
ExecStart=/usr/bin/cpc-hci-bridge
ExecStartPost= +ln -sf /var/lib/uic/dev/pts_hci /dev/pts_hci
ExecStopPost= +rm /dev/pts_hci
Restart=on-failure
KillMode=process
User=uic
Group=uic

[Install]
WantedBy=multi-user.target
