build*/
.cproject
.project
.pydevproject
.settings/
CTestTestfile.cmake
*.a
cmake_install.cmake
CMakeFiles/
CMakeCache.txt
tags
Makefile
test/test_aes_cmac
test/test_ccm
test/test_ctr_dbrg
test/test_kderiv
test/test_next_nonce
*.pyc
*.LST
*.bak
