.no-brake-word {
    word-break: normal;
}

.split2 {
    height: 100vh;
    float: left;
    width: 100%;
    padding: 149px 0px 0px 280px;
    transition: 0.3s;
}

.header.collapsed+.split-container .split2 {
    padding-top: 69px;
    transition: 0.3s;
}

.side-bar-collapsed .split2 {
    padding-left: 74px;
    transition: 0.3s;
}

.split-container .pro-sidebar-inner .pro-inner-list-item.popper-element {
    margin-top: 10px !important;
}

.header.collapsed+.side-bar-collapsed .split2 {
    padding: 69px 0px 0px 74px;
    transition: 0.3s;
}

.split2>h3 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.side-bar-collapse {
    border: solid 1px #dee2e6;
    border-radius: 12px;
    height: 20px;
    width: 20px;
    color: darkslategrey;
    margin-left: -10px;
    background: #f7f7f7;
    margin-top: 2px;
    float: left;
    cursor: pointer;
    z-index: 1010;
}

.side-bar-collapse:hover {
    background: #e4e4e4;
}

.side-bar-collapse svg {
    color: #303030;
    transform: rotate(0deg);
    transition: 0.5s;
}

.side-bar-collapsed .side-bar-collapse svg {
    transform: rotate(180deg);
    transition: 0.5s;
}

.text-center {
    text-align: center;
}

.flex {
    display: flex;
}

.word-break {
    word-break: break-word;
}

.wd-col-1 {
    width: 8.33%;
}

.wd-col-2 {
    width: 16.66%;
}

.wd-col-4 {
    width: 33.33%;
}

.wd-col-5 {
    width: 41.65%;
}

.wd-col-6 {
    width: 50%;
}

.wd-40px {
    width: 40px;
}

.wd-120px {
    width: 120px;
}

.pointer .custom-switch label,
.pointer {
    cursor: pointer !important;
}

.inline {
    display: inline-block;
}

.no-padding {
    padding: 0 !important;
}

.no-padding-v {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.no-padding-h {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.no-padding-r {
    padding-right: 0 !important;
}

.no-padding-l {
    padding-left: 0 !important;
}

.padding-2 {
    padding: 2px !important;
}

.padding-5 {
    padding: 5px !important;
}

.padding-h-15 {
    padding-left: 15px;
    padding-right: 15px;
}

.padding-l-5 {
    padding-left: 5px;
}

.padding-v-20 {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
}

.padding-v-5 {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

.no-content {
    color: #777777;
    line-height: 100px;
}

.margin-h-5 {
    margin-left: 5px;
    margin-right: 5px;
}

.margin-h-10 {
    margin-left: 10px;
    margin-right: 10px;
}

.margin-5 {
    margin: 5px;
}

.margin-b-0 {
    margin-bottom: 0;
}

.margin-b-10 {
    margin-bottom: 10px;
}

.margin-v-20 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.margin-v-10 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.margin-r-5 {
    margin-right: 5px;
}

.margin-r-10 {
    margin-right: 10px !important;
}

.margin-r-30 {
    margin-right: 30px;
}

.margin-t-10 {
    margin-top: 10px;
}

.editable-tr .form-control {
    padding: 5px;
    line-height: 17px;
    height: 30px;
}

.table th,
.table td {
    vertical-align: middle;
    line-height: 17px;
}

.table-cell {
    display: table-cell;
}

.error-modal-header {
    color: red;
    font-size: 13px;
    margin-top: 5px;
}

.error-border {
    border-color: #dc3545;
}

.error-background {
    background-color: hsl(355, 100%, 90%) !important;
}

.warning-background {
    background-color: hsla(27, 98%, 54%, 0.233) !important;
}

.icon {
    font-size: 18px;
    color: #007bff;
    cursor: pointer;
}

.icon:active {
    color: #003e81;
}

.cursor-default {
    cursor: default !important;
}

.spinner-border.spinner-border-sm {
    border-width: 0.1em;
}

.tooltip-inner {
    white-space: pre-line;
}

.col-form-label {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.popover-l.popover {
    max-width: 300px;
}

.invalid .MuiOutlinedInput-notchedOutline {
    border-color: #dc3545;
}

.nav-tabs .nav-link {
    padding: 1rem 1rem;
}

.split2 .progress {
    background-color: #cee5ff;
}

.hidden {
    display: none;
}

.col-sm-5p {
    flex: 0 0 5%;
    max-width: 5%;
}

.col-sm-30p {
    flex: 0 0 30%;
    max-width: 30%;
}

.cluster-attributes .MuiOutlinedInput-adornedEnd {
    padding-right: 0px;
}

.cluster-attributes .MuiInputAdornment-positionEnd {
    height: 40px;
    width: 40px;
    max-height: inherit;
}

.cluster-attributes .icon {
    margin: auto;
}

.cluster-attributes .MuiInputLabel-outlined.MuiInputLabel-marginDense {
    overflow: hidden;
    /* width: calc(100% - 46px); */
    background: white;
    text-overflow: ellipsis;
}

.MuiAutocomplete-root .MuiOutlinedInput-root {
    padding: 1px !important;
}

.vertical-middle,
.vertical-middle th,
.vertical-middle td {
    vertical-align: middle !important;
}

.editable-field {
    color: #007bff;
    cursor: pointer;
}

.group-modal.modal-header .close {
    padding: 0rem 0rem;
    margin: 0;
}

.group-popup-input.MuiFormControl-root {
    padding-right: 10px;
}

.group-popup-input .MuiInputBase-input {
    cursor: pointer;
}

.color-picker-container {
    position: absolute;
    z-index: 2;
}

.color-picker-container .cover {
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

.margin-top--1 {
    margin-top: -1px;
}

.wd-500 {
    width: 500px;
}

.cluster-info {
    background-color: rgba(0, 0, 0, 0.05);
    font-size: 12px;
}

.nodes-table .cluster-info td {
    line-height: 15px !important;
}

.nodes-table .cluster-info td.buttons-group {
    padding: 4px 12px 4px 4px;
}

.nodes-table td {
    line-height: 35px !important;
}

.version {
    font-size: 11px;
}

.disabled-tooltip {
    z-index: 100;
    display: inline-block;
}

.line-h-20 {
    line-height: 20px;
}

.display-inline {
    display: inline;
}

.css-16awh2u-MuiAutocomplete-root .MuiOutlinedInput-root.MuiInputBase-sizeSmall .MuiAutocomplete-input {
    padding: 7.5px 4px 7.5px 6px !important;
}

@keyframes blinker {
    from {
        opacity: 1.0;
        font-weight: 600;
    }
    to {
        opacity: 0.1;
        font-weight: 600;
    }
}

.blinking {
    animation-name: blinker;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(.5, 0, 1, 1);
    animation-duration: 1.5s;
}

@keyframes blinker-error {
    50% {
        background-color: hsl(355, 100%, 90%)
    }
}

.blinking-error {
    animation-name: blinker-error;
    animation-iteration-count: 3;
    animation-timing-function: cubic-bezier(.5, 0, 1, 1);
    animation-duration: 0.8s;
}