[Unit]
Description=Unify User Interface API
After=network.target mosquitto.service

[Service]
ExecStart=/usr/bin/dev-gui-api
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
KillMode=process
User=uic
Group=uic
StandardOutput=null

Environment=HTTPS=true
Environment=SSL_CRT_FILE=/var/lib/dev-gui/cert.pem
Environment=SSL_KEY_FILE=/var/lib/dev-gui/key.pem

[Install]
WantedBy=multi-user.target
