[Unit]
Description=UIC User Interface API
Requires=mosquitto.service

[Service]
ExecStart=/usr/bin/dev-gui-api
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
KillMode=process
User=uic
Group=uic

[Install]
WantedBy=multi-user.target
