    .logo {
        height: 80px;
        width: 400px;
        pointer-events: none;
    }
    
    .margin-l-20 {
        margin-left: 20px;
    }
    
    .margin-v-10 {
        margin: 10px 0;
    }
    
    input[type='radio']::before {
        width: 14px;
        height: 14px;
        border-radius: 14px;
        top: -1px;
        left: -1px;
        position: relative;
        background-color: #a7a7a7;
        content: '';
        display: inline-block;
    }
    
    input[type='radio']:checked:before {
        width: 14px;
        height: 14px;
        border-radius: 14px;
        background-color: #0d6efd;
        content: '';
        display: inline-block;
    }
    
    input[type='radio']::after {
        width: 8px;
        height: 8px;
        border-radius: 7px;
        top: -17px;
        left: 0px;
        position: relative;
        background-color: white;
        content: '';
        display: inline-block;
        border: 2px solid white;
    }
    
    input[type='radio']:checked::after {
        /* width: 8px;
        height: 8px;
        border-radius: 8px;
        top: -16px;
        left: 1px;
        position: relative; */
        background-color: #0d6efd;
        /* content: '';
        display: inline-block;
        border: 2px solid white; */
    }
    
    .body {
        height: 348px;
        margin: 0 10px;
    }
    
    .title {
        margin: 0;
        text-align: justify;
    }
    
    .btn {
        height: 38px;
        width: 85px;
        border-radius: 5px;
        cursor: pointer;
    }
    
    .cancel-btn {
        float: left;
        border: 1px solid #0d6efd;
        background: none;
        color: #0d6efd;
    }
    
    .cancel-btn:hover {
        color: white;
    }
    
    .next-btn {
        float: right;
        background: #0d6efd;
        color: white;
        border: 1px solid #0d6efd;
    }
    
    .btn:not(.disabled):hover {
        background: #0b5ed7;
        border: 1px solid #0b5ed7;
    }
    
    .disabled {
        background: #62a1fe;
        cursor: default;
        border-color: #62a1fe;
    }
    
    .error {
        color: red;
    }
    
    .list-item {
        line-height: 30px;
    }
    
    .list-item img {
        height: 12px;
        margin: 0 5px;
    }
    
    .select-group {
        line-height: 30px;
    }
    
    label {
        display: inline-block;
        width: 55px;
        text-align: right;
        margin: 5px;
        margin-left: 50px;
    }
    
    label+input {
        width: 200px;
        height: 19px;
    }
    
    label+select {
        width: 208px;
        height: 25px;
    }
    
    .footer {
        padding: 15px;
    }